.app.dark {
    --bg-color: #232323;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #a76ee0;
    --secondary-color: #bdc7bde0;
    --inverted-primary-color: #5984e5;
    --inverted-secondary-color: #0232c2;
}
