.app_dark_theme {
    --bg-color: #232323;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #a76ee0;
    --secondary-color: #bdc7bde0;
    --inverted-primary-color: #5984e5;
    --inverted-secondary-color: #3b4569;

    // skeleton
    --skeleton-color: #812ee8;
    --skeleton-shadow: #4c66a9;

    // code
    --code-bg: #351459;

    // card
    --card-bg: #444343;
}
