.app_grey_theme {
    --bg-color: #434945;
    --inverted-bg-color: #f4fbfa;
    --primary-color: #cbaeb2;
    --secondary-color: #b1c9ba;
    --inverted-primary-color: #9fa2a0;
    --inverted-secondary-color: #35363b;
}
