:root {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #232323;
    --primary-color: #5984e5;
    --secondary-color: #3b4569;
    --inverted-primary-color: #a76ee0;
    --inverted-secondary-color: #bdc7bde0;

    // skeleton
    --skeleton-color: #9a83e5;
    --skeleton-shadow: #3b4569;

    // code
    --code-bg: #b4b4b9;

    // card
    --card-bg: #3b4569;
}
